/* CONFIGURACION BASICA DE UN ARCHIVO CSS */
/* 1. TIPOGRAFIAS 2. ICONOS 3. ESTILOS GENERALES
 4. VARIABLES 5. DESKTOP 6. TABLET 7. SMARTPHONE */


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moon+Dance&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fredoka:wght@300..700&family=Moon+Dance&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}


p,
a,
button,
li,
label,
input,
select,
textarea,
span {

    font-family: "Raleway", sans-serif;
}

:root {

    --primary-color: #e58411;
    --gray-color: #f7f7f7;
    --white-color: #fff;
    --dark-color: #1e1e1e;
    --fs-title1: 80px;
    --fs-title2: 38px;
    --fs-title3: 22px;
    --fs-title4: 18px;
    --fs-text: 16px;

}




/* 4. DESKTOP  RESPONSIVE */

header {
    width: 100%;
    position: relative;
    height: 170vh;
    padding: 40px;
    background: url("../img/Rectangle\ 1441.png");
    background-size: cover;
    /* background-position: center; */
    background-position-x: center;
    background-position-y: bottom;
}

.bg-transparente {
    background: transparent;
}

header nav .logo {

    color: var(--white-color);
    font-weight: 700;
    font-size: 28px;
}

header nav .logo:hover {

    color: var(--white-color);
    transform: scale(1.2);
    transition: .5s;

}

#navbarNav li a {

    color: var(--white-color);
    font-size: var(--fs-text);
    margin: 0 15px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    transition: .5s;

}

#navbarNav li a:hover {

    border-bottom: 1px solid var(--white-color);

}

header .bag-button {

    background: transparent;
    border: none;
    color: var(--white-color);
    font-size: 30px;
    position: relative;

}

header .bag-button .counter-products {

    width: 26px;
    height: 26px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--fs-text);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: -10px;

}

#hero {

    width: 100%;
    text-align: center;
    padding: 90px 200px;

}

#hero h2 {

    font-size: var(--fs-title1);
    font-weight: 700;
    color: var(--white-color);

}

#hero p {

    color: var(--white-color);
    font-size: var(--fs-title3);
    padding: 40px 250px;

}

#hero form {

    width: 400px;
    position: relative;
    margin: 0 auto;

}

#hero form input {

    border-radius: 40px;
    padding: 15px 60px 15px 20px;
    width: 370px;
    font-size: var(--fs-title4);
    border: 2px solid var(--white-color);
    background: #ffffff2b;
    color: var(--white-color);
    outline: none;

}

#hero form input::placeholder {
    color: var(--white-color);
}


#hero form button {

    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border: none;
    border-radius: 50%;
    color: var(--white-color);
    position: absolute;
    right: 6%;
    top: 18%;

}

/* ESTILOS MAIN */


#choosing-us {

    width: 100%;
    position: relative;
    background: var(--white-color);
    padding: 120px 0;

}

#choosing-us h2 {

    font-weight: 700;
    font-size: var(--fs-title2);
    color: var(--dark-color);
    padding-top: 25px;

}


#choosing-us h3 {

    font-size: var(--fs-title3);
    font-weight: 700;
    color: var(--dark-color);

}

#choosing-us p {

    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;

}

#choosing-us a {

    text-decoration: none;
    color: var(--primary-color);


}

#choosing-us a i {

    margin-left: 4px;
    transition: .5s;

}

#choosing-us a:hover i {

    margin-left: 15px;

}


/* SECTION PRODUCTS */


#products {

    width: 100%;
    position: relative;
    background: var(--gray-color);
    padding: 50px 0;
    text-align: center;

}

#products h2 {

    font-size: var(--fs-title2);
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 40px;

}

#products ul {

    width: 420px;
    margin: 0 auto;
    background: #eeeeee;
    padding: 8px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;

}

#products li button {

    color: var(--dark-color);
    padding: 10px 30px;
    border: none;

}

#products li button:hover {

    border: none;

}

#products li button.active {

    background: var(--white-color);
    border-radius: 30px;
    border: none;


}



#products .card-product {

    margin: 0 15px !important;


}

#products .card-product .cont-img {

    background: #e6e6e6;
    position: relative;
    width: 100%;
    min-height: 220px;
    border-radius: 20px 20px 0 0;

}

#products .cont-img img {

    width: 220px;
    position: absolute;
    top: -70px;
    margin: 0 auto;
    left: 0;
    right: 0;

}

#products .slick-list {

    padding: 160px 0;

}


#products .cont-info {

    background: var(--gray-color);
    text-align: left;
    padding: 20px;
    border-radius: 0 0 20px 20px;

}

#products .cont-info p.category {

    font-size: var(--fs-text);
    color: #8d8d8d;

}

#products .cont-info h3 {

    font-size: var(--fs-title3);
    font-weight: 700;
    color: #0D1B39;

}


#products .stars i {

    color: #f6b76f;

}

#products .stars {

    margin-bottom: 30px;

}

#products .card-product h4 {

    font-size: var(--fs-title3);
    font-weight: 600;
    display: flex;
    margin: 0;

}

#products .card-product h4 span {

    font-size: 15px;
    margin-right: 5px;
    font-weight: 600;

}

#products .card-product button {

    background: #0D1B39;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: var(--white-color);
    border: none;
    font-size: 25px;


}


#products .slick-arrow {

    background: var(--white-color);
    border: 1px solid #dbdada;
    width: 50px;
    height: 50px;
    z-index: 999;
    border-radius: 50%;

}

#products .slick-arrow::before {

    color: #0D1B39;

}


/* SECCION EXPERIENCES */


#experiences {

    width: 100%;
    position: relative;
    padding: 140px 0;

}


#experiences .cont-img {

    position: relative;
    left: -20px;

}

#experiences .cont-img img {

    box-shadow: -15px 16px 15px -10px #af7d43;

}

#experiences .cont-img::before {

    content: "";
    width: 400px;
    height: 400px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    top: -60px;
    border-radius: 20px;

}


#experiences .cont-img::after {

    content: "";
    width: 300px;
    height: 300px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    right: 85px;
    top: 70px;
    border-radius: 20px;


}

#experiences .cont-info {

    padding: 20px 60px 0 0;

}

#experiences .cont-info h3 {

    color: var(--primary-color);
    font-size: var(--fs-title4);
    text-transform: uppercase;

}

#experiences .cont-info h2 {

    color: #1e1e1e;
    font-size: var(--fs-title2);
    font-weight: 700;
    width: 480px;
    margin-top: 20px;

}

#experiences .cont-info p {

    color: var(--dark-color);
    font-size: var(--fs-text);
    width: 520px;
    margin-top: 20px;

}

#experiences .cont-info a {

    text-decoration: none;
    color: var(--primary-color);

}


#experiences .cont-info i {

    margin-left: 4px;
    transition: .5s;

}

#experiences .cont-info a:hover i {

    margin-left: 15px;

}


/* SECCION  MATERIALS */


#materials {

    width: 100%;
    position: relative;
    padding: 140px 0;

}

#materials .cont-info {

    padding: 0 0 20px 60px;
    margin-top: 50px;
}

#materials .cont-info h3 {

    color: var(--primary-color);
    font-size: var(--fs-title4);
    text-transform: uppercase;

}

#materials .cont-info h2 {

    color: #1e1e1e;
    font-size: var(--fs-title2);
    font-weight: 700;
    width: 480px;
    margin-top: 20px;

}

#materials .cont-info p {

    color: var(--dark-color);
    font-size: var(--fs-text);
    width: 520px;
    margin-top: 20px;

}

#materials .cont-info a {

    text-decoration: none;
    color: var(--primary-color);

}


#materials .cont-info i {

    margin-left: 4px;
    transition: .5s;

}

#materials .cont-info a:hover i {

    margin-left: 15px;

}







/* 5. TABLET  RESPONSIVE*/
@media screen and (min-width:768px) and (max-width: 100px) {}

/* 6. SMARTPHONE RESPONSIVE*/


@media screen and (min-width:320px) and (max-width: 767px) {}